.footer {
    padding: 2rem 2rem;
    border-top: 1px solid #eaeaea;
    margin: 0;
    .row{
      .link {
        text-decoration: none;
        font-size: 14px;
        color:gray;
      }
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
      border-color: #222;
    }
}