.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  max-width: 1320px;
  padding: 4rem 0.75rem;
  margin-left: auto;
  margin-right: auto;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1);
  }
}
